<div class="container">
    <div class="page-header">
        <h1>{{funnel.name}} </h1>

    </div>

    <div class="row">
        <div class="col-sm-9">
            <div class="row" ng-repeat="treatment in funnel.experiments">
                <div class="col-sm-12">
                    <div class='box box-default'>
                        <div class="box-header with-border">
                            <a ui-sref="experiments.index({idFunnel:funnel.id-1,idExperiment:treatment.id-1})"><h3>
                                {{treatment.name}}</h3></a>
                        </div>
                        <div class="table-responsive mailbox-messages">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div ng-class='{"box box-success":!!treatment.bestOne.Zscore ,"box box-danger":!treatment.bestOne.Zscore}'>
                                                <div class="box-header with-border">
                                                    <div ng-if="treatment.bestOne.Zscore">
                                                        There is only a {{treatment.bestOne.Confidence}}% chance that
                                                        {{treatment.bestOne.Treatment}} has a higher
                                                        conversion rate.

                                                    </div>
                                                    <div ng-if="!treatment.bestOne.Zscore">
                                                        There is no chance that one of Treatments has a higher
                                                        conversion rate .

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="box box-default">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title"><i class="fa fa-sort-numeric-desc"></i>Calculations
                                                    </h3>

                                                    <div class="box-tools pull-right">
                                                    </div>
                                                </div>
                                                <div class="table-responsive mailbox-messages">
                                                    <table class="table table-hover">
                                                        <thead>
                                                        <tr>

                                                            <td>Control</td>
                                                            <td>Treatment</td>
                                                            <td>Visitors</td>
                                                            <td>Conversions</td>
                                                            <td>ConversionRate</td>
                                                            <td>Zscore</td>
                                                            <td>Confidence</td>
                                                            <td>Improvement</td>
                                                            <td>SampleSize</td>

                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="data in treatment.dataCalculated.experiments"
                                                            ng-class='{success:(data.Zscore==treatment.bestZ_score),info:(!treatment.bestZ_score && data.Zscore=="-")}'
                                                            ng-click="updateCalculatedData($index,treatment)">

                                                            <td><i ng-if="data.Baseline" class="fa-turkish-lira"></i>
                                                            </td>
                                                            <td ng-bind="data.Treatment"></td>
                                                            <td ng-bind="data.Visitors"></td>
                                                            <td ng-bind="data.Conversions"></td>
                                                            <td ng-bind="data.ConversionRate + '%'"></td>
                                                            <td ng-bind="data.Zscore"></td>
                                                            <td ng-bind="data.Confidence+ '%'"></td>
                                                            <td ng-bind="data.Improvement+ '%'"></td>
                                                            <td ng-bind="data.SampleSize"></td>

                                                        </tr>
                                                        </tbody>

                                                    </table>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class='box box-default'>
                <div class="box-header with-border">
                    <h5>the best path from <code>{{funnel.numberPath}}</code> possible paths . </h5>
                </div>
                <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped">
                        <tr ng-repeat="experiment in funnel.experiments">
                            <td><a ui-sref="experiments.index({ifFunnel:funnel.id-1,idExperiment:experiment.id-1})">{{experiment.bestOne.Treatment}}</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    </div>


</div>